.cross-btn,span{
    cursor: pointer;
    color: rgb(36, 141, 193);

}
.pop-up{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.608);
    display: grid;
}
.login-container{
    align-self: center;
    justify-self: center;
    width: max(23vw,330px);
    color: rgb(28, 26, 26);
    background-color: rgb(156, 179, 179) ;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 20px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-input{
    display: flex;
flex-direction: column;
gap: 20px;
}
.login-input input{
    outline: none;
    border: 1px solid  #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
button{
    color:white;
    background-color:rgb(36, 141, 193);
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}
.login-title p{font-size: 20px;}
.login-condition{
    display: flex;
    align-items: start;
    gap: 5px;
    margin-top: -10px;
}
input[type="checkbox"]{
    margin-top: 4.8px;
}